.config-video span.video-name
{
	vertical-align: super;
}

/*div.video-preview, */
div.video-widget-msg
{
	display: none;
}

div.video-preview, div.video-preview > div, div.video-preview > div > div, div.video-preview div.web-preview
{
	height: 100%;
}

div.dashlet.video .body
{
    overflow: hidden;
}

div.video-preview.shadow
{
   /*margin-left: -10px;
   border-right: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;*/
   padding-left: 0px;
   padding-right: 0px;
   z-index: -1;
}

div.video-preview.shadow span,
div.video-preview.shadow div
{
   color: #000000;
}

div.video-preview.shadow img,
div.video-preview.shadow span,
div.video-preview.shadow input
{
   vertical-align: middle;
}

div.video-preview.shadow .bd
{
   height: 100%;
}

div.video-preview.shadow .bd .preview-swf
{
   background-color:#FAFAFA;
   width: 100%;
   height: 100%;
}

div.video-preview.shadow .bd .preview-swf div
{
   padding-top: 8px;
   padding-left: 8px;
   padding-right: 8px;
}

div.video-preview.shadow .bd .preview-swf.has-content
{
   height: 100%;
}

div.video-preview.shadow .bd .preview-swf.no-preview div
{
   /*padding-top: 200px;*/
}

div.video-preview.real.no-content
{
   visibility: hidden;
}

div.video-preview .web-preview .WebPreviewer {
    height: 100%;
    line-height: auto;
}

div.video-preview .web-preview .previewer {
    height: 100%;
    text-align: center;
    width: 100%;
}