.web-preview .previewer.FLVPlayer
{
}

.web-preview .previewer.FLVPlayer .message > span
{
   display: block;
   position: relative;
}

.web-preview .previewer.FLVPlayer .overlay > span
{
   background-color: #000000;
   opacity: 0.6;
   padding: 0.5em;
   color: #ffffff;
}

.web-preview-poster img
{
   visibility: hidden;
}