div.audio-preview.shadow
{
   margin-left: -10px;
   border-right: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
}

div.audio-preview.shadow span,
div.audio-preview.shadow div
{
   color: #000000;
}

div.audio-preview.shadow .hd
{
   background-color: #FAFAFA;    
   height: 40px;
   line-height: 40px;
}                                     

div.audio-preview.shadow img,
div.audio-preview.shadow span,
div.audio-preview.shadow input
{
   vertical-align: middle;
}

div.audio-preview.shadow .bd
{
   text-align: center;
}

div.audio-preview.shadow .bd .preview-swf
{
   background-color:#FAFAFA;
   width: 100%;
   height: 100px;
}

div.audio-preview.shadow .bd .preview-swf div
{
   padding-top: 30px;
}

.web-preview .previewer.MP3Player
{
   height: 130px;
}

div.audio-preview.shadow .bd .preview-swf.no-preview div
{
   padding-top: 200px;
}

div.audio-preview.real.no-content
{
   visibility: hidden;
}