.web-preview .previewer.Prettify {
    text-align: left;
    height: 500px;
    overflow: scroll;
    border: 1px solid #CCCCCC;
}

.web-preview .previewer.Prettify > pre {
    padding: 1em;
    border: 0px;
}

.web-preview .previewer.Prettify pre ol.linenums li {
	list-style-type: decimal;
	background: transparent;
}