.web-preview .previewer.Prettify {
    text-align: left;
    height: 500px;
    overflow: scroll;
}

.web-preview .previewer.Prettify pre {
    height: 100%;
}

.web-preview .previewer.Prettify pre.prettyprint {
    border: 1px solid #CCCCCC;
    padding: 1em;
}