.web-preview .PdfJs
{
   height: 450px;
}
.web-preview .PdfJs iframe
{
   max-height: 100%;
   max-width: 100%;
   overflow: auto;
   width:100%;
   /* Height is view area above minus control bar height */ 
   height:430px;
   background-color: #FFFFFF;
}

.web-preview .PdfPlugin
{
   height: 450px;
}
.web-preview .PdfPlugin iframe
{
   max-height: 100%;
   max-width: 100%;
   overflow: auto;
   width:100%;
   /* Height is view area above minus control bar height */ 
   height:430px;
   background-color: #FFFFFF;
}

.web-preview .IframeView
{
   height: 450px;
}
.web-preview .IframeView iframe
{
   max-height: 100%;
   max-width: 100%;
   overflow: auto;
   width: 100%; 
   height:430px;
   padding-top: 5px;
}

.iframe-view-controls {
  background-color: #eee;
  background: -o-linear-gradient(bottom,#eee 0%,#fff 100%);
  background: -moz-linear-gradient(center bottom, #eee 0%, #fff 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.0, #ddd), color-stop(1.0, #fff));
  border-bottom: 1px solid #CCC;
  padding: 3px 0px 0px 1px;
  height: 20px;
  width: 100%;
  z-index: 1;
  white-space:nowrap;
  overflow: hidden;
}

.iframe-view-separator {
  display: inline;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #fff;
  height: 16px;
  width:0px;
  margin: 4px;
}
.iframe-viewer-button a.action-link,
.iframe-viewer-button a.simple-link,
.iframe-viewer-button a.show-more
{
   background-position: 4px 1px;
   background-repeat: no-repeat;
   border: 1px solid transparent;
   min-height: 16px;
   padding: 2px 5px 2px 24px;

}

.iframe-viewer-button a:active,
.iframe-viewer-button a:hover,
.iframe-viewer-button .highlighted
{
   background-color: #fff;
   border: 1px solid #2b6eb5;
   text-decoration: none;
   padding-right: 5px;
}